* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.text, .text2 {
    width: 100%;
    margin-bottom: 20px; 
}

body {
    background-color: #20433D;
    height: 100vh;
}

/*20433D*/

.text {
    float: left;
    width: 50%;
    height: 50%;
    top: 25%;
    flex: 1;
    margin-left: 80px;
    margin-bottom: -10%; 
    
}

.text h1 {
    font-size: 45px;
    color: #F0EDCE;
}

.text span {
    color: #B4CE02;
}

.text p {
    margin: 20px 0;
    line-height: 25px;
    color: #F0EDCE;
}

.slideshow-container {
    margin-top: 3%;
    float: right;
    width: 50%;
    margin-right: 10%;
    position: relative;
    overflow: hidden; 
    height: 550px;
    border-radius: 10px;
}

.mySlides img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.content-container {
    display: flex;
    align-items: flex-start;
}

.content-container::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #F0EDCE;
    color: #0E130C;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; 
    bottom: 0; 
    z-index: 1001; 
    margin-top: 20px; 
}

#ContInicio1{
    background-color: #20433d;
    height: 100%;
}

.ContenedorMain{
   
   
}

#ContInicio2{
    position: absolute;
    top: 97%;
    width: 100%;
    display: inline;
    background-color: white;
}

.NewCont {
    text-align: center; 
}

.cate{
    margin-top: 3%;
    display: inline-block; 
    background-color: rgba(224, 224, 217, 0.438);
    padding: 2%;
    border-radius: 15px;
           
}