/* Estilos para mini navbar */
.mini-nav {
    background-color: #0e130c;
    padding: 30px ;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-color: #0e130c;
}

.mini-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-nav li {
    margin: 0 15px;
}

.mini-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.mini-nav a:hover {
    background-color: #54ad58;
}

.mini-nav .active a {
    background-color: #227126;
}
