/* Estilos para mini navbar */
.mini-nav {
    background-color: #0e130c;
    padding: 15px 0; 
    margin: 20px 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #0e130c;
    width: 100%;
    position: relative; 
    top: 0; 
    left: 0;
    z-index: 1000; 
}

.mini-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.mini-nav li {
    margin: 0 15px;
}

.mini-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.mini-nav a:hover {
    color: #54ad58;
}

.mini-nav .active a {
    color: #54ad58;
}

body {
    padding-top: 50px;
}
