/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #e0f7fa, #fff);
  color: #333;
  padding-top: 80px;
  line-height: 1.6;
  margin: 0;
}

h1, h2, h3 {
  color: #2e7d32; /* Verde oscuro */
}

/* Estilos del navegador principal */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  width: 100%;
  background-color: #4caf50;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 238, 236);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav li {
  margin: 0 15px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  padding: 20px 15px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.nav a:hover {
  background-color: #388e3c; /* Cambia el color de fondo al pasar el mouse */
}

.nav .active a {
  background-color: #388e3c; /* Color de fondo cuando está activo */
}


/* Estilos del contenedor */
.container {
  width: 100%;
  padding: 20px;
  position: relative; /* Asegura que el contenido no se superponga con la barra de navegación */
  z-index: 0; /* Coloca el contenedor detrás de la barra de navegación */
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #4caf50;
  color: #fff;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
