/* Estilo para el contenedor de la página de contacto */
#contactContainer {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

/* Estilo para el título de la página de contacto */
#contactTitulo {
    font-size: 32px;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Estilo para el formulario de contacto */
#contactForm {
    max-width: 600px;
    margin: 0 auto;
}

/* Estilo para cada grupo de formulario */
#contactForm .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group-btn{
    text-align: center;
}

/* Estilo para las etiquetas */
#contactForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
}

/* Estilo para los campos de entrada */
#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Estilo para los campos de entrada al recibir foco */
#contactForm input[type="text"]:focus,
#contactForm input[type="email"]:focus,
#contactForm textarea:focus {
    border-color: #3498db;
}

/* Estilo para el botón de enviar */
#contactForm #botonEnviar {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Estilo para el botón al pasar el cursor por encima */
#contactForm #botonEnviar:hover {
    background-color: #c0392b;
}

/* Estilo para el botón al hacer clic */
#contactForm #botonEnviar:active {
    background-color: #a93226;
    transform: scale(0.95);
}
