/* Estilo para el botón "Agregar al Carrito" */
#agregarCarritoBtn {
    background-color: #28a745; /* Color de fondo verde */
    color: #fff; /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

/* Estilo para el botón al pasar el cursor por encima */
#agregarCarritoBtn:hover {
    background-color: #218838; /* Color de fondo más oscuro al pasar el cursor */
}

/* Estilo para el botón al hacer clic */
#agregarCarritoBtn:active {
    background-color: #1e7e34; /* Color de fondo aún más oscuro al hacer clic */
    transform: scale(0.95); /* Reducir ligeramente el tamaño al hacer clic */
}
