<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "PlantitaricaApp/base.html" %}
    {% block content %}
    <nav class="mini-nav">
        <ul>
            
            <li><a href="{% url 'Productos' %}">Plantas</a></li>
            <li><a href="{% url 'Maceteros' %}">Maceteros</a></li>
            <li><a href="{% url 'Insumos' %}">Insumos</a></li>
            <li><a href="{% url 'agregar_plantas' %}">Agregar nueva Planta</a></li>
        </ul>
    </nav>
    
    <h1>Agregar Productos</h1>
    <form action="{% url 'btnAgregarPlantas' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_precio">Precio:</label>
            <input type="number" id="id_precio" name="precio" required>
        </div>
        <div class="form-group">
            <label for="id_nombre">Nombre:</label>
            <input type="text" id="id_nombre" name="Nombre" required>
        </div>
        <div class="form-group">
            <label for="id_foto">Foto:</label>
            <input type="file" id="id_foto" name="foto" accept="image/*" required>
        </div>
        <div class="form-group">
            <button type="submit">Guardar</button>
        </div>
    </form>
    {% endblock %}
</body>
</html>