{% extends "PlantitaricaApp/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} <!-- Agrega esta línea para cargar el módulo de etiquetas de static -->
    <link rel="stylesheet" href="{% static 'css/agregar.css' %}">
    <title>Document</title>
</head>
<body>
<div class= fondo1>

    <nav class="mini-nav">
        <ul>
            <li id="plantas" class="{% if request.resolver_match.url_name == 'Productos' %}active{% endif %}">
                <a href="{% url 'Productos' %}">Plantas</a></li>
            <li id="maceteros" class="{% if request.resolver_match.url_name == 'Maceteros' %}active{% endif %}">
                <a href="{% url 'Maceteros' %}">Maceteros</a></li>
            <li id="insumos" class="{% if request.resolver_match.url_name == 'Insumos' %}active{% endif %}">
                <a href="{% url 'Insumos' %}">Insumos</a></li>
            <li id="agregar_plantas" class="{% if request.resolver_match.url_name == 'agregar_plantas' %}active{% endif %}">
                <a href="{% url 'agregar_plantas' %}">Agregar nueva Planta</a></li>
        </ul>
    </nav>
    
    
    <h1>Agregar Productos</h1>
    <form action="{% url 'btnAgregarPlantas' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_precio">Precio:</label>
            <input type="number" id="id_precio" name="precio" required>
        </div>
        <div class="form-group">
            <label for="id_nombre">Nombre:</label>
            <input type="text" id="id_nombre" name="Nombre" required>
        </div>
        <div class="form-group">
            <label for="id_foto">Foto:</label>
            <input type="file" id="id_foto" name="foto" accept="image/*" required>
        </div>
        <div class="form-group">
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>
    {% endblock %}

</body>
</html>
