{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesBase.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/Inicio.css' %}">
    <title>Inicio</title>
</head>
<body>
    {% include "PlantitaricaApp/base.html" %}

    {% block content %}
    
    <div class = "text">
        <h1>Bienvenido, <br>
        a tu lugar de <span>confianza</span> <br>
        <span>PlantitaRica</span></h1>
        
        <p>Nos alegra tenerte aquí. En nuestra tienda, encontrarás una amplia variedad de plantas que llenarán tu hogar de vida y frescura. Desde suculentas y cactus hasta hermosas flores y plantas de interior, tenemos todo lo que necesitas para crear tu propio oasis verde.</p>
        
    </div>
    
    <div class="slideshow-container">
        <!-- Imágenes del carrusel -->
        <div class="mySlides fade">
            <img src="{% static 'IMG/carru1.png' %}" style="width:100%">
        </div>
    
        <div class="mySlides fade">
            <img src="{% static 'IMG/carru2.png' %}" style="width:100%">
        </div>
    
        <div class="mySlides fade">
            <img src="{% static 'IMG/carru3.png' %}" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="{% static 'IMG/carru4.png' %}" style="width:100%">
        </div>
    
        <!-- Controles del carrusel -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <footer>
        &copy; 2024 Plantita Rica. Todos los derechos reservados.
    </footer>

    {% endblock %}

    {% block extra_scripts %}
    <script src="{% static 'JS/carousel.js' %}"></script>
    {% endblock %}
</body>
</html>
