{% extends "PlantitaricaApp/base.html" %}

{% block content %}
<nav class="mini-nav">
    <ul>
        <li id="plantas" class="{% if request.resolver_match.url_name == 'Productos' %}active{% endif %}">
            <a href="{% url 'Productos' %}">Plantas</a></li>
        <li id="maceteros" class="{% if request.resolver_match.url_name == 'Maceteros' %}active{% endif %}">
            <a href="{% url 'Maceteros' %}">Maceteros</a></li>
        <li id="insumos" class="{% if request.resolver_match.url_name == 'Insumos' %}active{% endif %}">
            <a href="{% url 'Insumos' %}">Insumos</a></li>
        <li id="agregar_insumos" class="{% if request.resolver_match.url_name == 'agregar_insumos' %}active{% endif %}">
            <a href="{% url 'agregar_insumos' %}">Agregar nuevo Insumo</a></li>
    </ul>
</nav>

<div class="container">
    <div class = "grid-background">
    <h1>Insumos</h1>

    <div class="grid-container">
        {% for producto in Insumos %}
        <div class="card">
            <img src="{{ producto.foto.url }}" class="card-img-top" alt="{{ producto.descripcion }}">
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.descripcion }}</p>
                <p class="price">$ {{ producto.precio }}</p>
                <form action="{% url 'registrarEnCarro' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group" style="display: none;" >
                      <input type="text" id="id_precio" name="tipo" value="Plantas" >
                        <input type="text" id="id_precio" name="nombre" value="{{ producto.nombre }}">
                        <input type="number" id="id_nombre" name="precio" value="{{ producto.precio }}">
                      <input type="text" id="id_nombre" name="pagina" value="Insumos/">
                    </div>
                    <button type="submit" >Agregar al Carrito</button>
                </form>
            </div>
        </div>
        {% empty %}
        <p>No hay productos disponibles.</p>
        {% endfor %}
    </div>
    </div>
</div>

{% endblock %}