{% extends "PlantitaricaApp/base.html" %}

{% block content %}
<nav class="mini-nav">
    <ul>
        <li id="plantas" class="{% if request.resolver_match.url_name == 'Productos' %}active{% endif %}">
            <a href="{% url 'Productos' %}">Plantas</a></li>
        <li id="maceteros" class="{% if request.resolver_match.url_name == 'Maceteros' %}active{% endif %}">
            <a href="{% url 'Maceteros' %}">Maceteros</a></li>
        <li id="insumos" class="{% if request.resolver_match.url_name == 'Insumos' %}active{% endif %}">
            <a href="{% url 'Insumos' %}">Insumos</a></li>
        <li id="agregar_maceteros" class="{% if request.resolver_match.url_name == 'agregar_maceteros' %}active{% endif %}">
            <a href="{% url 'agregar_maceteros' %}">Agregar nuevo Macetero</a></li>
    </ul>
</nav>

<div class="container">
    <div class = "grid-background">
    <h1>Maceteros</h1>
    <div class="grid-container">
        {% for producto in Maceteros %}
        <div class="card">
            <img src="{{ producto.foto.url }}" class="card-img-top" alt="{{ producto.descripcion }}">
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.descripcion }}</p>
                <p class="price">$ {{ producto.precio }}</p>
                <form action="{% url 'registrarEnCarro' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group" style="display: none;" >
                      <input type="text" id="id_precio" name="tipo" value="Plantas" >
                        <input type="text" id="id_precio" name="nombre" value="{{ producto.nombre }}">
                        <input type="number" id="id_nombre" name="precio" value="{{ producto.precio }}">
                      <input type="text" id="id_nombre" name="pagina" value="Maceteros/">
                    </div>
                    <button type="submit" class="boton_agregar_al_carro" style="background-color: #4CAF50; color: white; padding: 12px 24px; border: none; border-radius: 4px; font-size: 16px; font-weight: bold; text-transform: uppercase; cursor: pointer; transition: background-color 0.3s, transform 0.2s; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);" >Agregar al Carrito</button>
                </form>
            </div>
        </div>

        {% empty %}
        <p>No hay productos disponibles.</p>
        {% endfor %}
    </div>
    </div>
</div>
<footer>
    &copy; 2024 Plantita Rica. Todos los derechos reservados.
</footer>
{% endblock %}
