{% extends "PlantitaricaApp/base.html" %}

{% block content %}
<nav class="mini-nav">
    <ul>
        <li id="plantas" class="{% if request.resolver_match.url_name == 'Productos' %}active{% endif %}">
            <a href="{% url 'Productos' %}">Plantas</a></li>
        <li id="maceteros" class="{% if request.resolver_match.url_name == 'Maceteros' %}active{% endif %}">
            <a href="{% url 'Maceteros' %}">Maceteros</a></li>
        <li id="insumos" class="{% if request.resolver_match.url_name == 'Insumos' %}active{% endif %}">
            <a href="{% url 'Insumos' %}">Insumos</a></li>
        <li id="agregar_maceteros" class="{% if request.resolver_match.url_name == 'agregar_maceteros' %}active{% endif %}">
            <a href="{% url 'agregar_maceteros' %}">Agregar nuevo Macetero</a></li>
    </ul>
</nav>

<div class="container">
    <h1>Maceteros</h1>

    <div class="productos-list">
        {% for producto in Maceteros %}
        <div class="producto">
            <div class="producto-imagen">
                <img src="{{ producto.foto.url }}" alt="{{ producto.descripcion }}">
            </div>
            <div class="producto-info">
                <h2>{{ producto.nombre }}</h2>
                <p>Precio: ${{ producto.precio }}</p>
                <p>{{ producto.descripcion }}</p>
            </div>
        </div>
        {% empty %}
        <p>No hay productos disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
